@use "./abstracts/variables" as va;
@use "./abstracts/mixins" as mixins;

@use "./components/input" as input;
@use "./components/button" as button;
@use "./components/span" as span;
@use "./components/modal";

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 16px;
}

main {
  flex: 1;
  background: #f5f5f5;
}

footer {
  color: white;
  padding: 12px;
  text-align: center;
}

input,
button,
th {
  @include mixins.font-face("SUITE", "SUITE-Regular.woff2", 400, "woff2");
  font-family: "SUITE", sans-serif;
  font-weight: 400;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-container {
  width: auto;
}

.margin-container {
  margin: 50px 0;
}
