@use "./abstracts/variables" as va;
@use "./abstracts/mixins" as mixins;

@use "./components/input" as input;
@use "./components/button" as button;
@use "./components/span" as span;
@use "./components/modal";

body {
  width: 100vw;
  height: 100vh;

  margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-modal-container {
  width: 100%;
  height: 100%;

  background-color: va.$gray-color;
  opacity: 0.5;

  z-index: 6000;
}

.component-container {
    width: auto;
}