<div class="background">
  <div class="modal-container">
    <!-- title -->
    <div
      id="title-company-info"
      class="page-title-container component-container"
      data-component-url="/components/molecules/page-title/page-title.html"></div>

    <!-- dropdown -->
    <div
      id="placeholder-choice-company"
      class="dropdown-container component-container"
      data-component-url="/components/molecules/dropdown/dropdown.html"></div>
    <!-- input -->
    <div
      id="placeholder-product-name"
      class="input-container component-container"
      data-component-url="/components/molecules/labeled-input/labeled-input.html"></div>
  </div>
</div>
