@use "../../../scss/components/label";
@use "../../../scss/abstracts/variables" as va;

.label-div {
  // z-index: 3000;
  border-radius: va.$border-radius;
  width: auto;
  height: auto;
  padding: 0.25rem 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  align-items: center;
  justify-content: center;

  background-color: va.$yellow-color;

  display: flex;
  justify-content: center;
  align-items: center;
}
