@use "../../atoms/Label/label";
@use "../../../scss/components/image" as image;
@use "../../molecules/delete-button/delete-button";

@use "../../../scss/abstracts/variables" as va;

.labeled-image {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;

  position: relative;

  border: va.$border;
  border-radius: va.$border-radius;

  width: va.$image-width;
  max-width: va.$image-max-width;
  min-width: va.$image-min-width;
  aspect-ratio: 1;

  &:hover {
    cursor: pointer;
  }

  &.error {
    border-color: va.$red-color;
  }
}

.labeled-image .image {
  position: relative;
}

.labeled-image .label-div {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.component-container .hidden {
  display: none;
}

@media (max-width: 640px) {
  .labeled-image {
    width: va.$big-width;
  }
}
