<div class="labeled-image">
  <!-- img -->
  <img
    class="image"
    src="/images/camera.png"
    alt="카메라 아이콘" />
  <input
    type="file"
    id="photoFile"
    accept="image/*"
    capture="camera"
    style="display: none" />
  <!-- label-div -->
  <div
    class="component-container image-label"
    data-component-url="/components/atoms/Label/label.html"></div>
  <!-- button: 이미지 제거 -->
  <div
    id="cancel-button"
    class="component-container hidden"
    data-component-url="/components/molecules/delete-button/delete-button.html"></div>
</div>
