@charset "UTF-8";
/*
* 폰트
*/
/*
* 버튼
*/
/*
* 입력란
*/
/*
* 입력란
*/
.button {
  font-family: "SUITE", sans-serif;
  width: 75%;
  height: 6rem;
  max-width: 1200px;
  max-height: 800px;
  color: #292e1e;
  padding: 0.5rem 1.5rem;
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #3423a6;
  color: #fafffd;
}
@font-face {
  font-family: "SUITE";
  font-weight: 600;
  src: url("/fonts/SUITE-Bold.woff2") format("woff2");
}
.button:hover {
  background-color: #271a7c;
}
.button:active {
  background-color: #412cd0;
}
.button.disabled {
  background-color: #948b89;
  cursor: not-allowed;
  pointer-events: none;
}
.button.small {
  width: 30%;
  height: 4rem;
}
.button--outline {
  background-color: white;
  color: #292e1e;
  border: 2px solid #3423a6;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
}
.button--outline:hover {
  background-color: #3423a6;
  color: #fafffd;
  border-color: #3423a6;
}
.button--outline:active {
  background-color: #412cd0;
  color: #fafffd;
  border-color: #412cd0;
}

.button--red {
  font-family: "SUITE", sans-serif;
  width: 75%;
  height: 6rem;
  max-width: 1200px;
  max-height: 800px;
  color: #292e1e;
  padding: 0.5rem 1.5rem;
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #f97068;
  color: #fafffd;
}
@font-face {
  font-family: "SUITE";
  font-weight: 600;
  src: url("/fonts/SUITE-Bold.woff2") format("woff2");
}
.button--red:hover {
  background-color: #f74237;
}
.button--red:active {
  background-color: #fb9e99;
}
.button--red--outline {
  background-color: white;
  color: #292e1e;
  border: 2px solid #f97068;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
}
.button--red--outline:hover {
  background-color: #f97068;
  color: #fafffd;
  border-color: #f97068;
}
.button--red--outline:active {
  background-color: #fb9e99;
  color: #fafffd;
  border-color: #fb9e99;
}

.button--yellow {
  font-family: "SUITE", sans-serif;
  width: 75%;
  height: 6rem;
  max-width: 1200px;
  max-height: 800px;
  color: #292e1e;
  padding: 0.5rem 1.5rem;
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #f9dc5c;
  color: #292e1e;
}
@font-face {
  font-family: "SUITE";
  font-weight: 600;
  src: url("/fonts/SUITE-Bold.woff2") format("woff2");
}
.button--yellow:hover {
  background-color: #f7d12b;
}
.button--yellow:active {
  background-color: #fbe78d;
}
.button--yellow--outline {
  background-color: white;
  color: #292e1e;
  border: 2px solid #f9dc5c;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
}
.button--yellow--outline:hover {
  background-color: #f9dc5c;
  color: #292e1e;
  border-color: #f9dc5c;
}
.button--yellow--outline:active {
  background-color: #fbe78d;
  color: #292e1e;
  border-color: #fbe78d;
}

.button-text {
  font-family: "SUITE", sans-serif;
  color: #292e1e;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #fafffd;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "SUITE";
  font-weight: 400;
  src: url("/fonts/SUITE-Regular.woff2") format("woff2");
}/*# sourceMappingURL=button.css.map */