@use "../../atoms/Label/label";
@use "../../atoms/Input/input";
@use "../../../scss/abstracts/variables" as va;

.labeled-input {
  display: flex;
  align-items: center;
  justify-content: left;

  background-color: white;

  border: va.$border;
  border-radius: va.$border-radius;

  width: va.$big-width;
  aspect-ratio: 7/1;
  max-width: va.$big-max-width;
  min-width: va.$big-min-width;

  transition: border-color va.$transition border-width va.$transition box-shadow
    va.$transition;

  &:focus-within {
    border-color: va.$input-focus-border-color;
    box-shadow: va.$box-shadow;
    border-width: 2px;
  }

  &.error {
    border-color: va.$input-error-border-color;
    box-shadow: va.$box-shadow;
  }

  &.disabled {
    border-color: va.$gray-color;
    pointer-events: none;
  }
}

.labeled-input .input {
  border-radius: va.$border-radius;
}
