@use "../../../scss/abstracts/mixins" as mixins;
@use "../../../scss/abstracts/variables" as va;

.page-title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;
  width: 50vw;
  max-width: 700px;

  background-color: va.$white-color;

  border: va.$border;
  border-radius: va.$border-radius;
  border-color: va.$yellow-color;

  &.modal-title {
    max-width: 400px
  }
}

.page-title {
  @include mixins.font-face("SUITE", "SUITE-ExtraBold.woff2", 800, "woff2");
  font-weight: 800;
  font-size: 2.5rem;
  color: va.$black-color;
  text-align: center;
}
