@use "./variables" as va;

/*
* 폰트
*/
@mixin font-face($name, $file, $weight: null, $format: null) {
  $file-path: va.$font-path + $file;
  @font-face {
    font-family: $name;
    font-weight: $weight;
    src: url($file-path) format(quote($format));
  }
}
// @include font-face('Pretendard', 'Pretendard-Thin.woff2', 100, 'woff2'); 로 사용

/*
* 버튼
*/
@mixin button-base {
  $ratio: 5/1;

  @include font-face("SUITE", "SUITE-Bold.woff2", 600, "woff2");
  font-family: "SUITE", sans-serif;
  text-align: center;

  width: va.$button-widht;
  aspect-ratio: $ratio;

  max-width: va.$big-max-width;
  min-width: va.$big-min-width;

  color: va.$black-color;
  padding: va.$button-padding;

  border-radius: va.$border-radius;

  cursor: pointer;
  transition:
    background-color va.$transition,
    color va.$transition;
}

/*
* 입력란
*/
@mixin input-base {
  @include font-face("SUITE", "SUITE-Regular.woff2", 400, "woff2");
  font-family: "SUITE", sans-serif;
  font-weight: 400;
  background-color: white;
  border: none;
  outline: none;
  width: 85%;
  height: 80%;

  &::placeholder {
    color: va.$gray-color;
  }
}

/*
* span
*/
@mixin span-base {
  @include font-face("SUITE", "SUITE-Regular.woff2", 400, "woff2");
  font-family: "SUITE", sans-serif;
  color: va.$black-color;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/*
* label
*/
@mixin label-base {
  @include font-face("SUITE", "SUITE-ExtraBold.woff2", 800, "woff2");
  font-family: "SUITE", sans-serif;
  font-weight: 800;
  color: va.$black-color;
  margin: auto;
  font-size: 1rem;
}

/*
* 이미지
*/
@mixin image-base {
  width: 90%;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: va.$border-radius;
  background-color: white;
}
