// 색상 변수
$black-color: #292e1e;
$white-color: #fafffd;
$gray-color: #948b89;
$blue-color: #3423a6;
$red-color: #f97068;
$yellow-color: #f9dc5c;

// ui 공통 변수
$big-width: 75%;
$big-max-width: 800px;
$big-min-width: 250px;

$small-width: 30%;
$small-max-width: 400px;
$small-min-width: 150px;

$thin-border: 1px solid $gray-color;
$border: 2px solid $gray-color;
$thick-border: 3px solid $gray-color;
$border-radius: 22px;

$transition: 0.2s ease-in-out;

$box-shadow: 0 0 5px rgba($black-color, 0.5);

// 폰트 경로
$font-path: "/fonts/";

// 버튼
$button-padding: 0.5rem 1.5rem;

$button-widht: 75%;
$button-height: 6rem;
$button-small-width: 30%;
$button-small-height: 4rem;

// 입력란
$input-focus-border-color: $blue-color;
$input-error-border-color: $red-color;

$input-widht: 75%;
$input-height: 20vw;
$input-max-height: 200px;
$input-small-width: 30%;
$input-small-height: 2.5rem;

// 이미지
$image-width: 50vw;
$image-max-width: 400px;
$image-min-width: 170px;
