@use "../../components/atoms/Button/button";
@use "../../components/molecules/labeled-image/labeled-image";
@use "../../components/molecules/page-title/page-title";
@use "../../components/organisms/Header/header";
@use "../../components/organisms/Modal/add-product-modal/add-product-modal";

.flex-container-left {
  display: flex;
  justify-content: center;
  justify-content: end;
}

main {
    padding: 20px;
}
