@use "../../../scss/abstracts/variables" as va;
@use "../../../scss/abstracts/mixins" as mixins;

.dropdown-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  width: va.$big-width;
  max-width: va.$big-max-width;
  min-width: va.$big-min-width;
  aspect-ratio: 5 / 1;

  position: relative;

  outline: 2px solid va.$black-color;
  border-radius: va.$border-radius;

  &:hover {
    cursor: pointer;
    outline-color: va.$blue-color;
    outline-width: 3px;
  }
  &.active {
    outline-color: va.$blue-color;
    outline-width: 3px;
  }

  &.red {
    outline-color: va.$red-color;
  }

  @media (max-width: 430px) {
    .dropdown-label {
      font-size: 1.5rem;
    }
  }
}

.dropdown-button {
  width: 85%;
  aspect-ratio: 5 / 1;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: transparent;

  border: none;
  outline: none;

  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }
}

.dropdown-label {
  @include mixins.span-base;
  width: 100%;
  height: 100%;

  color: va.$black-color;
}

.dropdown-img {
  width: 10%;
  aspect-ratio: 1;

  background-color: transparent;
  position: absolute;
  right: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.hidden {
    display: none !important;
  }
}
#dropdown-down-img {
  background-image: url("/images/arrow-down.png");
}
#dropdown-up-img {
  background-image: url("/images/arrow-up.png");
}

ul {
  text-align: center; /* inline-block 자식(li)들을 가로 중앙으로 */
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-contents {
  width: va.$big-width;
  max-height: 600px;
  overflow-y: auto;

  margin-top: 10px;

  position: absolute;
  top: 100%;
  left: 0;

  background-color: va.$white-color;

  border-radius: va.$border-radius;

  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  z-index: 1000;

  &.hidden {
    display: none;
  }

  @media (max-width: 430px) {
    .dropdown-label {
      font-size: 1.5rem;
    }
  }
}

.dropdown-item {
  padding: 0;
  width: 95%;
  aspect-ratio: 5 / 1;
  margin: 0.5rem auto;
}

.dropdown-label {
  @include mixins.span-base;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: va.$border-radius;
}

.dropdown-item .dropdown-label {
  &:hover {
    background-color: lighten($color: va.$blue-color, $amount: 20%);
    color: va.$white-color;
    cursor: pointer;
  }
}
