<div class="dropdown-container">
  <div class="dropdown">
    <button class="dropdown-button">
      <span class="dropdown-label component-label"></span>
      <div
        class="dropdown-img"
        id="dropdown-down-img"></div>
      <div
        class="dropdown-img hidden"
        id="dropdown-up-img"></div>
    </button>
  </div>

  <ul class="dropdown-contents hidden">
    <li class="dropdown-item">
      <span class="dropdown-label">Item 1</span>
    </li>
    <li class="dropdown-item">
      <span class="dropdown-label">Item 2</span>
    </li>
  </ul>
</div>
