<div class="dropdown-container">
  <div class="dropdown">
    <button class="dropdown-button">
      <span class="dropdown-label"></span>
      <img
        src="/images/arrow-down.png"
        alt="Dropdown Arrow"
        class="dropdown-img"
        id="dropdown-down-img" />
      <img
        src="/images/arrow-up.png"
        alt="Dropdown Arrow"
        class="dropdown-img hidden"
        id="dropdown-up-img" />
    </button>
  </div>

  <ul class="dropdown-contents">
    <li class="dropdown-item">
      <span class="dropdown-label">Item 1</span>
    </li>
    <li class="dropdown-item">
      <span class="dropdown-label">Item 2</span>
    </li>
  </ul>
</div>
