<div class="dropdown-container">
  <div class="dropdown">
    <button class="dropdown-button">
      <span
        id="company-id"
        class="hidden"
        >-1</span
      >
      <span
        id="product-id"
        class="hidden"
        >-1</span
      >
      <span class="dropdown-label component-label"></span>
      <div
        class="dropdown-img"
        id="dropdown-down-img"></div>
      <div
        class="dropdown-img hidden"
        id="dropdown-up-img"></div>
    </button>
  </div>

  <ul class="dropdown-contents hidden"></ul>
</div>
