@use "../../../scss/abstracts/variables" as va;
@use "../../../scss/abstracts/mixins" as mixins;

.textarea-div {
  overflow: hidden;
  border: va.$border;
  border-radius: va.$border-radius;

  padding: 10px;

  width: va.$big-width;
  aspect-ratio: 2/1;
  max-width: va.$big-max-width;
  min-width: va.$big-min-width;

  transition: border-color va.$transition border-width va.$transition box-shadow
    va.$transition;

  &:focus-within {
    border-color: va.$input-focus-border-color;
    box-shadow: va.$box-shadow;
    border-width: 2px;
  }

  &.error {
    border-color: va.$input-error-border-color;
    box-shadow: va.$box-shadow;
  }

  &.disabled {
    border-color: va.$gray-color;
    pointer-events: none;
  }
}

.textarea {
  @include mixins.font-face("SUITE", "SUITE-SemiBold.woff2", 400, "woff2");
  font-weight: 400;

  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
}
