@use "../abstracts/variables";
@use "../abstracts/mixins";

.button {
  @include mixins.button-base;
  background-color: variables.$blue-color;
  color: variables.$white-color;

  &:hover {
    background-color: darken($color: variables.$blue-color, $amount: 10%);
  }

  &:active {
    background-color: lighten($color: variables.$blue-color, $amount: 10%);
  }

  &.disabled {
    background-color: variables.$gray-color;
    cursor: not-allowed;
    pointer-events: none;
  }

}

.button-text {
  @include mixins.span-base;
  color: variables.$white-color;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
