@use "../../components/atoms/Button/button";
@use "../../components/molecules/labeled-image/labeled-image";
@use "../../components/molecules/page-title/page-title";
@use "../../components/organisms/Header/header";

.margin-container {
  margin: 5vw 0;
}
.loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
