@use "../../molecules/dropdown/dropdown";
@use "../../atoms/Label/label";
@use "../../molecules/number-spinner/number-spinner";
@use "../../molecules/textarea/textarea";
@use "../../molecules/delete-button/delete-button";

@use "../../../scss/abstracts/variables" as va;

.product-edit-container {
  position: relative;

  background-color: white;

  border: va.$border;
  border-radius: va.$border-radius;
  border-color: va.$yellow-color;

  padding: 20px;
  width: 70%;
  min-width: 435px;

  .dropdown {
    .dropdown-label {
      font-size: 1.5rem;
    }
  }

  .number-container {
    width: va.$big-width;
    margin: 0 auto;

    .spinner-container {
      width: 50%;
    }

    .label-div {
      width: 50%;
    }
  }

  .margin-top20 {
    margin-top: 20px;
  }

  .container1 {
    width: 50%;
  }
  .container2 {
    width: 50%;
  }

  .delete-button-container {
    width: 15%;
    left: 90%;
  }
}

@media (max-width: 640px) {
  .product-edit-container {
    min-width: 0;
    width: 95%;

    .dropdown {
      .dropdown-label {
        font-size: 1.25rem;
      }
    }

    .spinner-input {
      font-size: 1.25rem;
    }

    .number-container {
      width: 90%;
      .spinner-container {
        width: 90%;
      }
      .label-div {
        width: 70%;
        .label {
          font-size: 1rem;
        }
      }
    }

    .delete-button-container {
      width: 15%;
      left: 87%;
    }
  }
}
