<div
  id="placeholder-choice-product-name"
  class="dropdown-container component-container"
  data-component-url="/components/molecules/dropdown/dropdown.html"></div>
<div>
  <div
    id="label-returned-quantity"
    class="label-container component-container"
    data-component-url="/components/atoms/Label/label.html"></div>
  <div
    class="number-spinner-container component-container"
    data-component-url="/components/molecules/number-spinner/number-spinner.html"></div>
</div>
<div>
  <div
    id="label-resalable-quantity"
    class="label-container component-container"
    data-component-url="/components/atoms/Label/label.html"></div>
  <div
    class="number-spinner-container component-container"
    data-component-url="/components/molecules/number-spinner/number-spinner.html"></div>
</div>
<div
  id="placeholder-note"
  class="component-container"
  data-component-url="/components/atoms/Input/input.html"></div>
