<div class="product-edit-container">
  <!-- 드롭다운 -->
  <div
    id="placeholder-choice-product-name"
    class="dropdown-container component-container flex-container"
    data-component-url="/components/molecules/dropdown/dropdown.html"></div>

  <!-- 입고수량 컨테이너 -->
  <div
    id="spinner-1"
    class="flex-container number-container margin-top20">
    <!-- 라벨 -->
    <div
      id="label-returned-quantity"
      class="container1 component-container flex-container"
      data-component-url="/components/atoms/Label/label.html"></div>
    <!-- 넘버 스피너 -->
    <div
      class="container2 component-container flex-container"
      data-component-url="/components/molecules/number-spinner/number-spinner.html"></div>
  </div>

  <!-- 상품화가능 수량 컨테이너 -->
  <div
    id="spinner-2"
    class="flex-container number-container margin-top20">
    <!-- 라벨 -->
    <div
      id="label-resalable-quantity"
      class="container1 component-container flex-container"
      data-component-url="/components/atoms/Label/label.html"></div>
    <!-- 넘버스피너 -->
    <div
      class="container2 component-container flex-container"
      data-component-url="/components/molecules/number-spinner/number-spinner.html"></div>
  </div>

  <!-- 메모 -->
  <div
    id="placeholder-note"
    class="component-container flex-container margin-top20"
    data-component-url="/components/molecules/textarea/textarea.html"></div>

  <!-- button: 상품 에딧 제거 -->
  <div
    id="cancel-button"
    class="component-container"
    data-component-url="/components/molecules/delete-button/delete-button.html"></div>
</div>
